*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: black ;
  }
  
  .heading{
    color: #fa9191;
    text-align: center;
    text-transform: capitalize;
    margin: 15px;
  }
  .img-div{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    box-shadow: 0px 5px;
  
  }
  .img-div img{
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(177, 139, 139);
  }
  .footer{
    color: #fa9191;
    text-align:right;
    text-transform: capitalize;
    margin: 15px;
  }